= content_for :javascript, javascript_pack_tag('books/index')
.card
  .card-header
    %h2.h3= t('.title')

  .card-body{ data: { behavior: 'remote-content' } }
    .card-text
      .remote-content{ data: { remote_content: :filters } }
        = form_for platform_books_path, method: :get, remote: true do |f|
          .row
            .col-12.col-sm-6
              = text_field_tag(:search, params[:search], class: 'form-control w-100 mb-3', 'data-filter-bar-ignore-submit-on-enter': 'true', placeholder: t('.search.placeholder'))

            .col-12.col-sm-3
              = f.submit t('.commands.search'), class: 'btn btn-primary btn-block'
            .col-12.col-sm-3
              .mt-2.mt-sm-0
                = link_to t('.commands.new'), new_platform_book_path, class: 'btn btn-success btn-block'


          .row.mt-2
            .col-12.col-md-6
              - options = options_for_select(['asc', 'desc'], param_order)
              = label_tag :order, t('.filters.order')
              = select_tag :order, options


        - # o index é carregado como remote-content e está na partial ./_index
        %hr{'aria-hidden': 'true'}

        .remote-content-result{ data: { remote_content: :result } }
          .p-2.text-center.text-muted
            .fa.fa-spin.fa-refresh.mx-1
            = t('messages.loading')
