.row.justify-content-center
  .col-12.col-lg-9

    .card
      .card-header
        %h2.h4.card-title.mb-0= book.title

      .card-body
        .card-text
          .row.mb-3
            .col-12
              %label= Offer.human_attribute_name(:description)
              .text-muted= link_to book.description

          .row.mb-3
            .col-12
              %label= Offer.human_attribute_name(:author)
              .text-muted= book.author

          .row.mb-3
            .col-12
              %label= Offer.human_attribute_name(:image)
              .text-muted= image_tag(book.image)


  .col-12.col-lg-9.mt-3
    = link_to t('.commands.back'), platform_books_path, class: 'btn btn-warning float-left'
